<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <p>{{author}}</p>
    <h2>
    {{#if session.username}}
      <p>hello! {{session.name}}</p>
      <a href="/logout">Logout<a>
    {{else}}
      <a href="/login">Login<a>
    {{/if}}
    </h2>
    {{{body}}}
  </body>
</html>
